.ipodContainer{
  height: 33rem;
  width: 20em;
  box-shadow: rgb(85 85 85) 0px 0px 2.4em inset;
    background: linear-gradient(rgb(227, 227, 227) 0%, rgb(214, 214, 214) 100%);
    -webkit-box-reflect: below 0px -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), color-stop(0.5, transparent), to(rgba(250, 250, 250, 0.3)));

  margin: 4rem auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 justify-content: center;
  border-radius: 24px;
}
.wheel {
 width: 70%;
  height: 40%;
  margin: 1em auto;
  border-radius: 50%;
    border: 1px solid rgb(185, 185, 185);
    background: rgb(255, 255, 255);
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
justify-content: center;
}
.buttonContainer{
  width: 85%;
 height: 30%;
  display: flex;
  flex-direction: row;
 
 justify-content: center;
} 

.menuButton {
  align-self: center;
}

.playButton {
  align-self: center;
}

.middleButtons {
  align-self: center;
  width: 100%;
  display: flex;
  flex-direction: row;
 justify-content: space-between;
} 
.image {
  align-self: center;
  font-size: 1.5rem;
  color: white;
  
}
.ipod-center{
  width: 88px;
  height: 88px;
  border-radius: 50%;
  box-shadow: rgb(191 191 191) 6px -1em 3em 11px inset;
  background: rgb(255, 255, 255);
}

.active{
  background-color: #007acc;
  
}
.ipod-right {
  margin-top: 30px;
}

.ipod-left {
  margin-top: 30px;
}